html, body {
	margin: 0;
	padding: 0;
}

#container {
	width: 100%;
}
#typewriter {
	width: 700px;
	left: 50%;
	margin-left: -350px;
	position: absolute;
	font-family: 'Droid Serif', serif;
	font-size: 22px;
	padding: 20px;
	border-radius: 20px;
}
#typewriter: active {
}